/* body{background-color: brown;} */
h1{margin-left: 625px;}
/* p{background-color: #FFFEFF;} */

p{
  color: red;
  background-color: #1dbd5d;
  font-size: 45px;
  font-weight: 700;
}

strong{
  color: beige;
  background-color: #6133a2;
}
